@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@500&display=swap");

:root {
	--text-gray: #706f7b;
	--green: rgb(13, 187, 13);
}

* {
	font-family: "Poppins", sans-serif;
	scrollbar-color: var(--green) white;
	scrollbar-width: thin;
	scroll-behavior: smooth;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	z-index: 0;
	margin-top: -1rem;
	background-color: #f8f8f8;
}

.hero {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	position: relative;
	margin: 0 auto;
}

.big-hero-bg {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	background-size: cover;
}

.hero-content {
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
	margin-left: 5rem;
	margin-top: 10rem;
}

.hero-content-text {
	font-family: "Rubik", sans-serif;
	display: flex;
	flex-direction: column;
	z-index: 3;
	max-width: 50rem;
	color: var(--text-gray);
	font-weight: bold;
	font-size: 1rem;
}

.hero-content-text p {
	margin-top: 4rem;
	text-shadow: 0.05rem 0.05rem 0.05rem white;
}

.hero-content-text h4 {
	font-size: 5.2rem;
	font-weight: bold;
	color: black;
	margin-bottom: 2.3rem;
	text-shadow: 0.1rem 0.1rem 0.15rem white;
}

.hero-for-you {
	color: var(--green);
}

.hero-bmw-bg {
	z-index: 2;
	width: 50%;
	position: absolute;
	right: 20%;
}

.hero-buttons {
	display: flex;
	gap: 2rem;
	font-size: 1.5rem;
}

.hero-buttons a {
	text-decoration: none;
	border-radius: 2rem;
	color: white;
	padding: 1rem 1.5rem;
	box-shadow: 0 10px 15px 0 rgba(71, 71, 71, 0.25);

	/* browser compatibility */
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.hero-buttons a:nth-of-type(1) {
	background-color: var(--green);
	border: 0.2rem solid var(--green);
}

.hero-buttons a:nth-of-type(2) {
	background-color: black;
	border: 0.2rem solid black;
}

.hero-buttons a:nth-of-type(1):hover {
	background-color: green;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.6);
	border: 0.2rem solid green;
}

.hero-buttons a:nth-of-type(2):hover {
	background-color: white;
	color: black;
	border: 0.2rem solid black;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.6);
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	flex-flow: row wrap;
}

nav ul li {
	margin: 1.5rem;
}

nav ul li a {
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	padding: 0.7rem;
	color: black;
	border-radius: 2rem;

	/* browser compatibility */
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

nav ul li a:hover {
	color: var(--green);
}

.book-a-car {
	margin-top: 2.5rem;
	padding: 2rem;
	width: 90%;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 5rem;
	background-image: url("/src/assets/media/wood-grain.png");
	background-size: cover;
	z-index: 4;
}

.book-a-car h2 {
	font-size: 2rem;
}

.book-a-car form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 30px 30px;
	grid-auto-flow: row;
	grid-template-areas:
		"car-type car-pick-up-location"
		"car-drop-off-location car-pick-up-date"
		"car-drop-off-date .";
}

.car-type {
	grid-area: car-type;
}

.car-pick-up-location {
	grid-area: car-pick-up-location;
}

.car-drop-off-location {
	grid-area: car-drop-off-location;
}

.car-pick-up-date {
	grid-area: car-pick-up-date;
}

.car-drop-off-date {
	grid-area: car-drop-off-date;
}

.book-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	gap: 1rem;
}

.book-form label {
	font-weight: bold;
}

.book-form select,
.book-form input {
	width: 60%;
	height: 2rem;
	text-align: center;
	border: 0.1rem solid lightgrey;
	border-radius: 0.5rem;
	background-color: lightgrey;
	cursor: pointer;
}

.book-form.car-submit button {
	border: none;
	height: 70%;
	width: 60%;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0.4rem 0.4rem 0.4rem 0 rgba(13, 187, 13, 0.2);
	font-size: 1.2rem;
	background-color: var(--green);
	color: white;
	font-weight: bold;

	/* browser compatibility */
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.book-form.car-submit button:hover {
	box-shadow: 0.4rem 0.4rem 0.4rem 0 rgba(20, 180, 15, 0.5);
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	flex-flow: column;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
	overflow-y: auto;
	height: 80%;
	width: 80%;
	background-color: #ffffff;
	padding: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.modal .title-container {
	background-color: black;
	color: white;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0.5rem;
	padding: 0 2rem;
}

.modal .title-container button {
	cursor: pointer;
	padding: 0 0.5rem;
}

.modal .footer {
	background-color: black;
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
	border-radius: 0.5rem;
}

#reserve-car {
	padding: 0.5rem;
	border: 0.1rem solid var(--green);
	color: white;
	background-color: var(--green);
	border-radius: 0.5rem;
	font-size: 1.2rem;
	font-weight: bold;
	cursor: pointer;
}

.modal .title-container button {
	background-color: lightgrey;
	border: none;
	border-radius: 0.5rem;
	font-size: 1.5rem;
	font-weight: bold;
}

.modal .body {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-auto-flow: row;
	gap: 2rem 2rem;
	grid-template-areas:
		"modal-location-dates . modal-img"
		".  personal-info .";
	height: 70rem;
}

.personal-info {
	grid-area: personal-info;
}

.modal-location-dates {
	grid-area: modal-location-dates;
}

.modal-img {
	grid-area: modal-img;
}

.modal-location-dates {
	display: flex;
	align-items: flex-start;
	flex-flow: column nowrap;
	margin-bottom: 2rem;
}

.modal-location-dates-item {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.modal-location-dates-item span {
	color: #777;
}

.modal-location-dates-item h4,
.modal-location-dates h3 {
	margin-bottom: 0;
}

.modal-img {
	width: 80%;
	height: 60%;
}

.modal-img h3 span {
	color: var(--green);
}

.modal-img img {
	width: 100%;
	height: auto;
	border-radius: 0.5rem;
	object-fit: cover;
}

.personal-info {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-auto-flow: row;
	gap: 2rem 2rem;
	border-radius: 0.5rem;
	color: #777;
	font-weight: bold;
	grid-template-areas:
		"personal-info-title personal-info-title"
		"item-firstname item-lastname"
		"item-phone-number item-age"
		"item-email item-email"
		"item-address item-address"
		"item-city item-zip-code";
}

.personal-info-item {
	display: flex;
	align-items: flex-start;
	flex-flow: column wrap;
}

.personal-info-item input {
	width: 100%;
	background-color: lightgrey;
	border: none;
	padding: 0.2rem;
}

.personal-info-item input:focus {
	outline: none;
}

.personal-info-title {
	grid-area: personal-info-title;
	color: black;
}

.item-firstname {
	grid-area: item-firstname;
}

.item-lastname {
	grid-area: item-lastname;
}

.item-phone-number {
	grid-area: item-phone-number;
}

.item-age {
	grid-area: item-age;
}

.item-email {
	grid-area: item-email;
}

.item-address {
	grid-area: item-address;
}

.item-city {
	grid-area: item-city;
}

.item-zip-code {
	grid-area: item-zip-code;
}

.vehicle-models-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 2rem;
	width: 80%;
}

.vehicle-models-container h2 {
	text-align: center;
	font-size: 3rem;
}

.vehicle-models-container p {
	color: #777;
}

.vehicle-models-content {
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
	margin: 0.5rem 2rem;
}

.vehicle-models-buttons {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}

.vehicle-models-buttons button.picked {
	background-color: var(--green);
	color: white;
}

.vehicle-models-buttons button {
	width: 80%;
	margin-left: 10%;
	border: none;
	padding: 0.5rem 2.5rem;
	background-color: #e9e9e9;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: left;
	transition: all 0.5s;
	cursor: pointer;
}

.vehicle-models-buttons button:hover {
	background-color: var(--green);
	color: white;
}

.vehicle-info {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin-top: 2.5rem;
}

.vehicle-info .vehicle-image-container {
	width: 50%;
}

.vehicle-info .vehicle-image-container img {
	width: 100%;
	border-radius: 1rem;
	border: 0.1rem solid black;
}

.vehicle-description-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.vehicle-description-container a {
	border: none;
	text-decoration: none;
	font-weight: bold;
	background-color: var(--green);
	padding: 0.7rem;
	border-radius: 0.5rem;
	text-align: center;
	color: white;
	font-size: 1.2rem;
	border: solid 0.15rem #706f7b;
}

.vehicle-description-item {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	border: solid 0.15rem #706f7b;
	padding: 0.5rem;
	border-radius: 0.5rem;
}

.vehicle-item-key {
	font-weight: bold;
	padding-right: 0.5rem;
	margin-right: 0.5rem;
	border-right: 0.15rem solid #706f7b;
}

.vehicle-description-item:nth-of-type(1) {
	background-color: var(--green);
	color: white;
}

.customer-stories {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	width: 70%;
}

.customer-stories-description {
	color: #777;
}

.customer-stories h2 {
	font-size: 3rem;
	font-weight: bold;
}

.customer-testimonials-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow-y: auto;
	height: 20rem;
	padding: 2rem;
	margin-bottom: 5rem;
}

.customer-testimonial {
	width: 100%;
	padding: 2rem;
	margin-bottom: 2rem;
	box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.12),
		0 0.1rem 0.15rem rgba(0, 0, 0, 0.24);
}

.testimonials-name {
	display: block;
	font-weight: bold;
	margin-top: 1rem;
	font-style: italic;
	text-align: right;
	color: #777;
}
